@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif
    /*height: 100%;*/
}
h1{
 color: #A560A6;  
 text-align: center;
 text-shadow: 1px 1px 2px #7d497ee7; 
}
h2{
    color: #494EA6;
}
body{
background-image: linear-gradient(to left, #3F2B37, #D99AC8);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #956c96;
}
p{
    text-align: justify;
}